<tr>
    <th scope="row">{{ loop.index }}</th>
    <td>{{ raid.user.pseudo }}</td>
    <td>{{ raid.userCharacter.name }}</td>
    <td>{{ raid.dayOne }}</td>
    <td>{{ raid.dayTwo }}</td>
    <td>{{ raid.dayThree }}</td>
</tr>
