{% extends 'base.html.twig' %}

{% block title %}Inscription Raid{% endblock %}

{% block body %}
    <div class="container-fluid w-75">
        <div class="row mb-5 mt-5">
            <div class="col-5 d-flex bg-primary rounded border-dark text-light p-2">
                <div class="col-6">
                    {% if resumeCharacterRaid %}
                        {% for characterRaid in resumeCharacterRaid %}
                            <p>{{ characterRaid.name }} : {{ characterRaid.total }}</p>
                        {% endfor %}
                    {% else %}
                        <p>Vous n'avez pas encore de personnages <a href="{{ path('character') }}">Ici</a></p>
                    {% endif %}
                </div>
                <div class="col-6">
                    <p>Nombre personne lundi : {{ resumeRaid[0] }}</p>
                    <p>Nombre personne mardi : {{ resumeRaid[1] }}</p>
                    <p>Nombre personne jeudi : {{ resumeRaid[2] }}</p>
                </div>
            </div>
            <div class="offset-2"></div>
            <div class="col-5 bg-primary p-2 rounded border-dark text-light">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.userCharacter) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex">
                            <div class="form-check mr-2">
                                {{ form_row(form.dayOne) }}
                                {{ form_label(form.dayOne, 'Lundi ' ~ monday, {'attr': {'class': 'form-check-label'} }) }}
                            </div>
                            <div class="form-check mr-2">
                                {{ form_row(form.dayTwo) }}
                                {{ form_label(form.dayTwo, 'Mardi ' ~ tuesday, {'attr': {'class': 'form-check-label' }} ) }}
                            </div>
                            <div class="form-check">
                                {{ form_row(form.dayThree) }}
                                {{ form_label(form.dayThree, 'Jeudi ' ~ friday, {'attr': {'class': 'form-check-label' }} ) }}
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-dark text-light">S'inscrire</button>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Classe</th>
                        <th scope="col">Lundi</th>
                        <th scope="col">Mardi</th>
                        <th scope="col">Jeudi</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for raid in raids %}
                        {% include 'raid/_table.html.twig' %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
